:root{ 
    --svgColor: #c1c9d3; 
    --ligthblack: #344050;
    --brick: #c46632;
    --ligthbrick: #fde6d8;
    --watergreen: #5bb891;
    --ligthwatergreen: #ccf6e4;
    --ligthblue:#d4f2ff;
    --pastelblue: #5da4c4;
    --background: #edf2f9;
    --sidebartext: #5E6e82;
    --blue: #2c7be5;
    --indigo: #727cf5;
    --purple: #6b5eae;
    --pink: #ff679b;
    --red: #e63757;
    --orange: #fd7e14;
    --yellow: #f5803e;
    --green: #00d27a;
    --teal: #02a8b5;
    --cyan: #27bcfd;
    --white: #fff;
    --gray: #748194;
    --gray-dark: #4d5969;
    --primary: #2c7be5;
    --secondary: #748194;
    --success: #00d27a;
    --info: #27bcfd;
    --warning: #f5803e;
    --danger: #e63757;
    --light: #f9fafd;
    --dark: #0b1727;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1540px;
    --font-family-sans-serif: "Poppins";
}


/* NavBar Utilities Profile */

.NavBarUtilitiesProfile {
    margin-left: -7px;
}

.NavBarUtilitiesProfileIcon {
    display: flex;
    align-items: center;
}

.NavBarUtilitiesProfileIcon svg {
    width: 25px;
    height: 25px;
}

.NavBarUtilitiesProfileIcon:hover svg path {
    fill: #242a31;
    transition: all 0.2s ease-in-out;
}

.NavBarUtilitiesProfile:hover .NavBarUtilitiesProfileDropdownMenu {
    display: block;
}

.NavBarUtilitiesProfileDropdownMenu {
    display: none;
    position: absolute;
    min-width: 10rem;
    top: 4rem;
    left: 44.5rem;
    z-index: 1;
    background-color: white;
    box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    border-radius: 6px;
    font-size: .83333rem;
}

.NavBarUtilitiesProfileDropdownMenu a {
    text-decoration: none;
}

.ProfileDropdownCard {
    display: flex;
    flex-direction: column;
}

.ProfileDropdownCardGoPro {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px 16px;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-weight: 600;
}

.ProfileDropdownCardUserOptions,
.ProfileDropdownCardAdmin {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
}

.ProfileDropdownCardDivider {
    width: 100%;
    border-bottom: 1px solid #dee2e6;
}

.ProfileDropdownCardItem {
    padding: 4px 16px;
    text-decoration: none;
    font-weight: 500;
    color: #5e6e82;
}

.ProfileDropdownCardGoPro:hover, .ProfileDropdownCardItem:hover {
    background-color: #EDF2F9;
    color: #232E3C;
    transition: all .2s ease-in-out;
}

/* NavBar Utilities Profile End */