@import url(fontandroot.css);

.card_TopProducts {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 0.375rem;
    overflow: hidden;
    background-color: white;
    transition: 0.2s ease-in-out;
  }

  .header_TopProducts {
    background-color: #f9fafd;
    color: #5e6e82;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 44px;
  }

.chartContainer{
    width: 100%;
    height: 340px;
    padding: 20px;
    margin-top: 1rem;
}

  #chart_TopProducts {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .h6_TopProducts {
    width: 284.1px;
    height: 16px;
    padding: 0px 15px;
    font-size: 13.3px;
    font-weight: 500;
    margin-top: 0.2rem;
  }

  .p_TopProducts{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3px 12px;
    color: #2C7BE5;
    font-weight: 300;
    border: none;
    width: 111.2px;
    height: 28.6px;  
    font-size: 14px;
    margin-top: 0.2rem;
  }

  .p_TopProducts:hover{
    cursor: pointer;
    color: #1657AF;
    text-decoration: underline;
  }

  .button_TopProducts{
    background-color: white;
    border: none;
    font-weight: bolder;
    font-size: larger;
    color: #748194;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.7px;
    height: 22.6px;
    padding: 3px 12px;
    margin-right: 0.5rem;
  }


  .button_TopProducts:hover{
    box-shadow: 0px 0px 12px 0px var(--secondary)

}

  .contenedor_menu_bp_TopProducts{
    position: relative;
    display: flex;
    margin: 2px 0px 0px;
  }

  .menu_button_TopProducts {
    position: absolute;
    top: 35px;
    right: 12px;
    border: 1px solid  #d8e2ef;
    border-radius: 3px;
    display: none;
    align-items: start;
    width: 158.4 px;
    height: 100.8px;
    padding: 8px 0px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    z-index: 1;
  }

  .items_menu_TopProducts{
    cursor: pointer;
    height: 28px;
    color: #5e6e82;
    width: 158.4px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .view_opt_TopProducts , .export_opt_TopProducts{
    color: #5e6e82;
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 4px 16px;
  }

  .remove_opt_TopProducts{
    color: #e63757;
    border: none;
    border-top: 1px solid #d8e2ef;
    background-color: white;
    text-align: left;
    padding: 4px 16px;
    width: 158.4px;
  }


  @media (max-width: 768px){

    .chartContainer{
      height: 300px;
}

    #chart_TopProducts{
      height: 100%;
}
}


@media (max-width: 576px) {
    
}