@import url(fontandroot.css);

.totalSales{
    /* grid-column: 2;
    grid-row: 1; */
    display: inline-flex;
    position: relative;
    width: 431px;
    height: 100%;
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: #edf2f9;
    font-family: "Poppins", sans-serif;
    transition: 0.2s ease-in-out;
}

.card_totalSales {
  width: 522px;
  height: 388.8px;
  border: 1px solid white;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.header_totalSales {
  background-color: white;
  color: #5e6e82;
  margin: 0px -15px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  width: 512px;
  height: 29px;
}

.contenedor_header_totalSales {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  width: 512px;
  height: 29px;
  padding: 16px 20px 0px;
}

.h6_totalSales {
  width: 281.7px;
  height: 16px;
  padding: 0px 15px;
  font-weight: bolder;
  font-size: medium;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.select_container_totalSales {
  width: 100%;
}

.select_container_totalSales > .select_totalSales {
  width: 125.6px;
  height: 29px;
  margin: 8px 0;
  border: 1px solid #efefef;
  background: #fff url('https://www.freeiconspng.com/uploads/arrow-up-icon-23.png') no-repeat;
  background-size: 15px;
  background-position: right 10px center;
  font-family: 'Arial';
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.select_totalSales {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125.6px;
  height: 29px;
  font-size: smaller;
  font-weight: bolder;
  color: #5e6e82;
  border-radius: 3px;
  margin: 0px 8px 0px 0px;
  padding: 3px 32px 3px 12px;
  white-space: nowrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.January,
.February,
.March,
.April,
.May,
.June,
.July,
.August,
.September,
.October,
.November,
.December {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: small;
  font-weight: bold;
  color: #5e6e82;
  width: 100%;
  height: 29px;
  margin: 0px 8px 0px 0px;
  padding: 3px 32px 3px 12px;
}

.contenedor_sb_totalSales {
  display: flex;
  flex-direction: row;
  width: 170.3px;
  height: 29px;
  padding: 0px 15px;
  align-items: center;
  text-align: left;
  justify-content: left;
  position: relative;
}

.button_totalSales {
  background-color: white;
  border: none;
  font-weight: bold;
  color: #748194;
  padding: 3px 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 36.7px; 
  height: 27.6px; 
  border-radius: 5px;
}

.button_totalSales:hover{
  color: black;
  border-color: #5e6e82;
  border: 1px solid #EFEFEF;
  padding: 3px 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 36.7px; 
  height: 27.6px; 
  border-radius: 5px;
}

.contenedor_menu_b_totalSales {
  position: relative;
  display: flex;
  margin: 2px 0px 0px;
  width: 36.7px; 
  height: 27.6px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px; 
  margin-bottom: 3px;
}

.items_menu_totalSales {
  cursor: pointer;
  height: 28px;
  color: #5e6e82;
  width: 158.4px;
  height: 56px;
  display: flex;
  flex-direction: column;
}

.menu_button_totalSales > .remove_opt_totalSales {
  cursor: pointer;
  width: 158.4px;
  height: 28px;
  padding: 4px 16px;
  color: #e63757;
  width: 158.4px;
  height: 28px;
  display: flex;
}

.menu_button_totalSales {
  position: absolute;
  top: 30px;
  right: 0px;
  border: 1px solid #DBE0E8;
  border-radius: 3px;
  display: flex;
  align-items: start;
  width: 160px; 
  height: 102.4px;
  margin: 2px 0px 0px;
  padding: 8px 0px;
  flex-direction: column;
  background-color: white;
  border-radius: 5px; 
}

.view_opt_totalSales,
.export_opt_totalSales {
  color: #5e6e82;
  border: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 4px 16px;
  width: 100%;
  height: 28px;
  border-radius: 5px; 
  font-size: 14px;
  font-weight: 400;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.view_opt_totalSales:hover{
background-color: #EDF2F9 ;
}
.export_opt_totalSales:hover{
background-color:  #EDF2F9;
}
.remove_opt_totalSales:hover{
background-color:  #EDF2F9;
}


.separador {
  border: 0.1px solid #DBE0E8;
  border-width: thin;
  size: 0.1px;
  width: 158.4px;
  height: 0.8;
  margin: 8px 0px;
}

.remove_opt_totalSales {
  color: #e63757;
  border: none;
  background-color: white;
  width: 100%;
  height: 20px;
  flex-direction: column;
  display: flex;
  padding: 3px 16px;
  border-radius: 5px; 
  font-size: 14px;
  font-weight: 400;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.charts_section_totalSales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 522px;
  height: 343.8px;
}

#chart_totalSales {
  width: 482px;
  height: 300px;
  background-color: #fff;
}

.mesNombre{
  width: 100%;
}

.mesNombre:hover{
  cursor: context-menu;
}

.mes-x-value{
  width: 100%;
}

.mes-x-value:hover{
  cursor: context-menu;
}

.leyendaChart {
  display: flex;
  position: relative;
  bottom: 40px;
  left: -8px;
  font-size: 0.7rem;
  background-color: white;
  width: 520px;
  gap: 20px;
  color:#DBE0E8;
}

.leyendaChart:hover{
  cursor: context-menu;
}

#mes1 {
  margin-left: 40px;
}

.x-value {
  color: #B9C4D4;
}

.y-value {
  color: #B9C4D4;
}

.select_totalSales:focus {
  outline: 5px solid #C6DAF7;
  outline-offset: -1px;
  border-color: 3px solid #2C7BE5;
}

.clicked {
  background-color: grey; 
}



  @media (max-width: 1200px){

    .totalSales{
      width: 930px;
      display: flex;
    }
  }

  
@media (max-width: 983px){

  .totalSales{
    width: 930px;
    display: flex;
}
}

@media (max-width: 768px){

  .totalSales{
    width: 100%;
}
}

@media (max-width: 576px) {

  .totalSales{
    width: 100%;
}
}